# GitHub Configuration
GITHUB_PAT=GitHub Personal Access Token
# API Keys
WAKATIME_API_KEY=WakaTime API Key
RAWG_API_KEY=RAWG API Key

# Discord User ID
DISCORD_USER_ID=Discord User ID

# Steam API
STEAM_API_KEY=Steam API Key
STEAM_VANITY=Steam Vanity URL
STEAM_ID=Steam ID

# Spotify API
SPOTIFY_CLIENT_ID=Spotify Client ID
SPOTIFY_CLIENT_SECRET=Spotify Client Secret
SPOTIFY_USER_ID=Spotify User ID

# AniList Username
ANILIST_USERNAME=AniList Username
